h1{
    text-transform: uppercase;
    font-size: 3rem;
}
html{
    background-color: black;
}
P{
    color: white;
    text-align: center;
}
.test{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: Libre Baskerville, sans-serif;
    text-align: center;
}

.test1{
    border: 5px solid white;
    width: 30%;
    height:50%
}

